.login-form{
    width: 350px;
    height: 450px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 20px;
    margin-top: 40px;
}
.googleSignIn button{
    border-radius: 20px;
    padding: 6px 20px;
    border: 1px solid #ddd;
    background-color: aliceblue;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}